PORT=5000
APP=http://localhost:5173

SWAGGER_USER=admin
SWAGGER_PASSWORD=admin

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/template

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_SECRET=troque-este-segredo
JWT_EXPIRES_IN=7d

MQTT_URL=
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=

BUCKET_ENDPOINT=
BUCKET_REGION=us-east-1
BUCKET_ACCESS_KEY=
BUCKET_SECRET_KEY=
BUCKET_NAME=
BUCKET_PUBLIC_URL=
